[Unit]
Description=Plex Maintenance
After=plexmediaserver.service

[Service]
User=plex
WorkingDirectory=/opt/plex-maintenance/
ExecStart=uwsgi --ini plex-maintenance.ini

[Install]
WantedBy=multi-user.target